.app {
  text-align: center;
  content: "";
  display: inline-flex;
  clear: both;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  float: left;
  width: 48%;
  padding: 10px;
  height: 300px;
  border: 1px solid;
  margin-right: 2px;
}

.list-box-header {
  padding: 10px;
  border-bottom: 1px solid;
}

.list-box-footer {
  position: absolute;
  bottom: 20px;
}

.list-box-body {
  text-align: left !important;
}
